<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome to Super Rentals!</h2>
  <p>Where you will find the best accomodation for your vacation or business trip on Super Rentals.</p>
  <h4>If not the best, at least a really really really good one is guaranteed.</h4><br><br>
  {{#link-to 'about' class="button"}}
    What is Super Rentals?
  {{/link-to}}
</div>
{{outlet}}
